<!-- NOTICE SHOW PAGE -->
<div class="notice-page notice-show-page">
  <!-- HEADER: back link + optional subtext -->
  <div class="notice-header notice-show-header my-3">
    <%= link_to notes_path, class: "text-decoration-none text-secondary" do %>
      <i class="fa-solid fa-angles-left"></i> <strong>BACK</strong>
    <% end %>
  </div>
  <!-- MAIN NOTICE CARD (details) -->
  <div class="card notice-show-card shadow-sm bg-white"
     data-controller="mark-read"
    data-mark-read-url-value="<%= mark_as_read_note_path(@note, format: :json) %>">
    <div class="card-body position-relative">
      <div class="mb-3 d-flex flex-wrap gap-2 notice-meta-pills">
        <span class="badge rounded-pill pill-meta">
          Grade: <%= @note.student.classroom.grade %>
        </span>
        <span class="badge rounded-pill pill-meta">
          Class: <%= @note.student.classroom.name %>
        </span>
      </div>
      <!-- Content -->
      <h2 class="card-title notice-show-title mb-3">
        <%= @note.title %>
      </h2>
      <p><%= @note.content %></p>
      <% if @note.reply.present? %>
        <p>Reply: <%= @note.reply %></p>
      <% else %>
        <div class="card-body position-relative">
          <%= simple_form_for @note do |f| %>
            <%= f.input :reply, placeholder: "Enter the reply here...", input_html: { style: "height: 200px;" } %>
            <%= f.button :submit, "Reply", class: "btn btn-dark" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
