<%= f.input :category,
        collection: Notice::CATEGORIES,
        input_html: {
          data: {
            "conditional-form-target" => "selector",
            "preview-target" => "category",
            action: "change->conditional-form#toggleDependentField"
          }
        } %>
<div data-conditional-form-target="dependentField"
    data-show-if="Event"
    class="hidden">
  <%= f.input :date,
          as: :string,
          placeholder: "yyyy/mm/dd",
          input_html: { data: { controller: "flatpickr" } } %>
  <div class="row">
    <div class="col-6">
      <%= f.input :start_time,
              as: :string,
              placeholder: "10:30:00",
              input_html: { data: { controller: "timepicker" } } %>
    </div>
    <div class="col-6">
      <%= f.input :end_time,
              as: :string,
              placeholder: "11:30:00",
              input_html: { data: { controller: "timepicker" } } %>
    </div>
  </div>
</div>
<%= f.association :classroom, collection: [["ALL", ""]] + current_user.classrooms.map{|classroom| ["#{classroom.grade}#{classroom.name}", classroom.id]}, include_blank: false %>
<%= f.input :title,
        placeholder: "e.g., Sports day",
        input_html: { data: { "preview-target": "title" }.merge((local_assigns.dig(:title_data, :data) || {})) } %>
<%= f.input :content,
        placeholder: "Enter the full notice comment here...",
        input_html: { style: "height: 300px;", data: { "preview-target": "content" }.merge((local_assigns.dig(:content_data, :data) || {})) } %>
<div class="d-flex justify-content-end m-3">
  <button type="button" class="btn btn-outline-secondary me-2" data-action="click->preview#showPreview">
    <i class="fa-solid fa-eye"></i> Preview
  </button>
  <%= link_to "Cancel", dashboard_path, class: "btn btn-light me-2" %>
  <%= f.button :submit, class: "btn btn-dark" %>
</div>
