<div class="container">
  <div class="d-flex align-items-center gap-4">
    <div class="">
      <%= link_to "â† Back", root_path, class: "text-decoration-none text-secondary" %>
    </div>
    <div class="py-2">
      <h2>Create New Notice</h2>
      <p>Send a new notice to parents</p>
    </div>
  </div>
  <div class="border p-3 shadow rounded">
    <%= simple_form_for @notice, html: { data: { controller: "conditional-form" } } do |f| %>
    <%= f.input :title, placeholder: "e.g., Sports day" %>
    <%= f.input :category, collection: Notice::CATEGORIES, input_html: { data: { "conditional-form-target" => "selector", action: "change->conditional-form#toggleDependentField" } } %>
    <div data-conditional-form-target="dependentField" data-show-if="Event" class="hidden">
      <%= f.input :date, as: :string, placeholder: "yyyy/mm/dd", input_html: { data: { controller: "flatpickr" } } %>
    </div>
    <%= f.input :content, placeholder: "Enter the full notice comment here... " %>
    <h3>Targer Audience</h3>
      <div class="row">
        <div class="col-6">
          <%= f.input :grade, collection: Notice::GRADES %>
        </div>
        <div class="col-6">
          <%= f.input :classroom, collection: Notice::CLASSROOMS %>
        </div>
    </div>
    <%= f.input :attachmen, as: :file, label: 'Add Attachment'%>
    <div class="d-flex justify-content-end m-3">
    <%= link_to "Cancel", root_path, class: "btn btn-light"%>
    <%= f.button :submit, class: "btn btn-dark" %>
    </div>
    <% end %>
  </div>
</div>
