<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= navbar_role_class %>">

  <% if devise_controller? %>
    <!-- AUTH PAGES -->
    <div class="nav-inner-auth">
  <% else %>
    <!-- NORMAL PAGES -->
    <div class="container-fluid">
  <% end %>

      <%= link_to dashboard_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "KAMIZERO LOGO THUMB.png", class: "me-2" %>
        <span class="kamizero-brand-text"><i class="fa-solid fa-angles-left"></i>DASHBOARD</span>
      <% end %>

      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

          <% if user_signed_in? %>

            <% if current_user.role == "teacher" %>
              <li class="nav-item">
                <%= link_to new_notice_path,
                            class: "nav-link nav-kamizero nav-create-notice" do %>
                  <i class="fa-solid fa-square-plus"></i>
                  CREATE NOTICE
                <% end %>
              </li>
            <% end %>

            <li class="nav-item active">
              <%= link_to "NOTICES",
                          "/notices",
                          class: "nav-link nav-kamizero" %>
            </li>

            <li class="nav-item">
              <%= link_to "EVENTS",
                          "/notices/events",
                          class: "nav-link nav-kamizero" %>
            </li>

            <li class="nav-item active">
              <%= link_to "MESSAGES",
                          "/notes",
                          class: "nav-link nav-kamizero" %>
            </li>

            <li class="nav-item">
              <% if current_user.role == "parent" %>
                <%= link_to new_student_path,
                            class: "nav-link nav-kamizero nav-new-subscription" do %>
                  <i class="fa-solid fa-clone me-1"></i>
                  NEW SUBSCRIPTION
                <% end %>
              <% end %>
            </li>

            <!-- DROPDOWN WITH USER'S SUBSCRIPTIONS -->
            <li class="nav-item dropdown">
              <a href="#" id="navbarDropdown" class="nav-link"
                data-bs-toggle="dropdown">
                <i class="fa-solid fa-list"
                  style="font-size: 1.3rem; color:#003049;"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdown">

                <% if current_user.respond_to?(:students) && current_user.children.any? %>

                  <% current_user.children.each do |s| %>
                    <% label = [s.school, s.classroom.grade, s.classroom.name]
                              .map { |v| v.respond_to?(:name) ? v.name : v }
                              .reject(&:blank?)
                              .join(" ") %>

                    <%= link_to label, "#", class: "dropdown-item" %>
                  <% end %>

                  <div class="dropdown-divider"></div>
                <% end %>

                <%= link_to "Add New Subscription",
                            new_student_path,
                            class: "dropdown-item" %>

                <%= link_to "LOG OUT",
                            destroy_user_session_path,
                            data: { turbo_method: :delete },
                            class: "dropdown-item" %>
              </div>
            </li>

          <% else %>

            <li class="nav-item">
              <%= link_to new_user_session_path,
                          class: "nav-link nav-login-link" do %>
                LOG IN
              <% end %>
            </li>

          <% end %>

        </ul>
      </div>

    </div>
</nav>
