<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= navbar_role_class %>">

  <% if devise_controller? %>
    <!-- AUTH PAGES -->
    <div class="nav-inner-auth">
  <% else %>
    <!-- NORMAL PAGES -->
    <div class="container-fluid">
  <% end %>

      <%= link_to dashboard_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "KAMIZERO LOGO THUMB.png", class: "me-2" %>
        <%# FIX 1: Hide "DASHBOARD" text on specific pages %>
        <% hide_dashboard_text = [dashboard_path, root_path, new_user_session_path, new_user_registration_path].include?(request.path) %>
        <span class="kamizero-brand-text <%= 'd-none' if hide_dashboard_text %>">
          <i class="fa-solid fa-angles-left"></i>DASHBOARD
        </span>
      <% end %>

      <%# Desktop: Show horizontal nav + dropdown %>
      <%# Mobile: Show ONLY the dropdown (no separate hamburger) %>
      <div class="d-none d-sm-flex navbar-desktop-nav">
        <ul class="navbar-nav">

          <% if user_signed_in? %>

            <% if current_user.role == "teacher" %>
              <li class="nav-item">
                <%= link_to new_notice_path,
                            class: "nav-link nav-kamizero nav-create-notice" do %>
                  <i class="fa-solid fa-square-plus"></i>
                  CREATE NOTICE
                <% end %>
              </li>
            <% end %>

            <li class="nav-item active">
              <%= link_to "NOTICES",
                          "/notices",
                          class: "nav-link nav-kamizero" %>
            </li>

            <li class="nav-item">
              <%= link_to "EVENTS",
                          "/notices/events",
                          class: "nav-link nav-kamizero" %>
            </li>

            <li class="nav-item active">
              <%= link_to "MESSAGES",
                          "/notes",
                          class: "nav-link nav-kamizero" %>
            </li>

            <% if current_user.role == "parent" %>
              <li class="nav-item">
                <%= link_to qr_scan_path,
                            class: "nav-link nav-kamizero nav-new-subscription" do %>
                  <i class="fa-solid fa-clone me-1"></i>
                  ADD CHILD
                <% end %>
              </li>
            <% end %>

            <%# Desktop: User dropdown %>
            <li class="nav-item dropdown">
              <a href="#" id="navbarDropdownDesktop" class="nav-link"
                data-bs-toggle="dropdown">
                <i class="fa-solid fa-list navbar-dropdown-icon"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownDesktop">

                <% if current_user.respond_to?(:students) && current_user.children.any? %>

                  <% current_user.children.select(&:persisted?).each do |s| %>
                    <% label = [
                            s.school&.name,
                            s.classroom&.grade,
                            s.classroom&.name
                            ]
                              .map { |v| v.respond_to?(:name) ? v.name : v }
                              .reject(&:blank?)
                              .compact.join(" ").upcase %>

                    <%= link_to label, "#", class: "dropdown-item" %>
                  <% end %>

                  <div class="dropdown-divider"></div>
                <% end %>

                <%= link_to "LOG OUT",
                            destroy_user_session_path,
                            data: { turbo_method: :delete },
                            class: "dropdown-item dropdown-item-logout" %>
              </div>
            </li>

          <% else %>

            <li class="nav-item">
              <%= link_to new_user_session_path,
                          class: "nav-link nav-login-link" do %>
                LOG IN
              <% end %>
            </li>

          <% end %>

        </ul>
      </div>

      <%# Mobile: Single dropdown with ALL items %>
      <% if user_signed_in? %>
        <div class="d-sm-none navbar-mobile-nav">
          <div class="dropdown">
            <a href="#" id="navbarDropdownMobile" class="nav-link"
              data-bs-toggle="dropdown">
              <i class="fa-solid fa-list navbar-dropdown-icon"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMobile">

              <%# Mobile: All navigation items %>
              <% if current_user.role == "teacher" %>
                <%= link_to "CREATE NOTICE", new_notice_path, class: "dropdown-item" %>
              <% end %>

              <%= link_to "NOTICES", "/notices", class: "dropdown-item" %>
              <%= link_to "EVENTS", "/notices/events", class: "dropdown-item" %>
              <%= link_to "MESSAGES", "/notes", class: "dropdown-item" %>

              <% if current_user.role == "parent" %>
                <%= link_to "ADD CHILD", qr_scan_path, class: "dropdown-item" %>
              <% end %>

              <div class="dropdown-divider"></div>

              <%# Subscriptions list in ALL CAPS %>
              <% if current_user.respond_to?(:students) && current_user.children.any? %>

                <% current_user.children.select(&:persisted?).each do |s| %>
                  <% label = [
                          s.school&.name,
                          s.classroom&.grade,
                          s.classroom&.name
                          ]
                            .map { |v| v.respond_to?(:name) ? v.name : v }
                            .reject(&:blank?)
                            .compact.join(" ").upcase %>

                  <%= link_to label, "#", class: "dropdown-item" %>
                <% end %>

                <div class="dropdown-divider"></div>
              <% end %>

              <%= link_to "LOG OUT",
                          destroy_user_session_path,
                          data: { turbo_method: :delete },
                          class: "dropdown-item dropdown-item-logout" %>
            </div>
          </div>
        </div>
      <% else %>
        <%# Mobile: Login link when not signed in %>
        <div class="d-sm-none">
          <%= link_to new_user_session_path,
                      class: "nav-link nav-login-link" do %>
            LOG IN
          <% end %>
        </div>
      <% end %>

    </div>
</nav>
