<!DOCTYPE html>
<html>
  <head>
    <title>Kamizero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <% if devise_controller? %>
      <div class="auth-layout-wrapper">
        <%= yield %>
      </div>
    <% else %>
      <div class="container my-5">
        <%= yield %>
      </div>
    <% end %>
  </body>

</html>
